#include <behaviors.dtsi> 
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#include <behaviors/vfx_indicator.dtsi>

#define U_TAPPING_TERM 220
#define U_QUICK_TAP 200

#define BASE  0
#define GAME  1
#define FN    2
#define NUM   3
#define NAV   4
#define PPN   6

/ {
    combos {
    compatible = "zmk,combos";
    timeout-ms = <20>;
    require-prior-idle-ms = <250>;

   
    combo_normal {
      key-positions = <6 7 8>;
      bindings = <&to BASE>;
    };
    Delete {
      bindings = <&kp DELETE>;
      key-positions = <8 9>;
    };
    combo_normalleft {
      key-positions = <1 2 3>;
      bindings = <&to BASE>;
    };
    combo_fn {
      key-positions = <27 28>;
      bindings = <&sl FN>;
    };
    combo_unlock {
      key-positions = <0 4>;
      bindings = <&studio_unlock>;
    };
    screenshot {
        bindings = <&kp LG(LS(S))>;
        key-positions = <3 4>;
    };

    eng {
        bindings = <&kp F16>;
        key-positions = <13 14>;
    };

    rus {
        bindings = <&kp F17>;
        key-positions = <15 16>;
    };

    ParaLeft {
        bindings = <&kp LS(N9)>;
        key-positions = <23 24>;
    };

        greatt {
            bindings = <&kp LC(LA(P))>;
            key-positions = <25 26>;
        };

        circumflex {
            bindings = <&kp LS(N6)>;
            key-positions = <5 6>;
        };

    bootloaderRight {
        bindings = <&bootloader>;
        key-positions = <9 18 27>;
    };

    bootloaderLeft {
        bindings = <&bootloader>;
        key-positions = <0 11 22>;
    };

    game {
        bindings = <&tog 1>;
        key-positions = <18 29>;
    };
        
    gameleft {
        bindings = <&tog 1>;
        key-positions = <0 24>;
    };
    GoNav {
        bindings = <&tog 4>;
        key-positions = <5 16>;
    };
    GoScroll {
        bindings = <&tog 8>;
        key-positions = <16 25>;
    };
    GoNumDot {
        bindings = <&tog PPN>;
        key-positions = <1 2 4>;
    };
    fullscree {
        bindings = <&kp F11>;
        key-positions = <6 15>;
    };
    fullscreenLeft {
        bindings = <&kp F11>;
        key-positions = <3 14>;
        };
    };

    behaviors {
        u_mt: u_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <U_TAPPING_TERM>;
            quick-tap-ms = <U_QUICK_TAP>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        u_lt: u_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <U_TAPPING_TERM>;
            quick-tap-ms = <U_QUICK_TAP>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base0";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮Bse╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 0 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L        &kp SEMI
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤Bse├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp NUBS       &kp Z         &kp X         &kp C         &kp V             &kp N         &kp M       &kp COMMA     &lt 8 DOT      &kp FSLH
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 0 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                            &mt LSHFT ESC    &kp BSPC   &mt LCTRL DEL       &lt 6 RET   &lt NAV SPACE   &lt 5 ESC 
            //                             ╰─────────────┴─────────────┴─────────────╯Bse╰─────────────┴─────────────┴─────────────╯
            >;
    };

    
        Game {
            display-name = "Game1";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮Gam╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &kp ESC        &kp Q         &kp W         &kp E         &kp R             &kp N1        &kp N2        &kp N3        &kp N4        &kp N5
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 1 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &kp LSHFT       &kp A         &kp S         &kp D         &kp F             &kp G         &kp H         &kp J         &kp K         &kp L
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤Gam├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &kp LCTRL       &kp Z         &kp X         &kp C         &kp V             &trans      &mkp LCLK       &mo 8       &mkp RCLK       &trans
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 1 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                               &kp BSPC     &kp SPACE      &kp DEL           &kp RET      &kp SPACE       &trans
            //                             ╰─────────────┴─────────────┴─────────────╯Gam╰─────────────┴─────────────┴─────────────╯
            >;
        };

        FN {
            display-name = "FN2";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮F11╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp PSCRN     &kp LCTRL     &kp LSHFT      &kp LALT       &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 2 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &kp F6        &kp F7        &kp F8        &kp F9       &kp F10            &trans        &trans        &trans        &trans        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤F11├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans        &trans       &kp F11       &kp F12            &trans        &trans        &trans        &trans     &bootloader      
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 2 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &trans        &trans        &trans            &trans        &trans        &trans
            //                             ╰─────────────┴─────────────┴─────────────╯F11╰─────────────┴─────────────┴─────────────╯
            >;
        };

        Num {
            display-name = "Num3";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮Num╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                &kp C_AL_CALC     &trans        &trans        &trans        &trans          &kp GRAVE       &kp N7        &kp N8        &kp N9      &kp EQUAL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 3 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans       &kp LALT     &kp LSHFT     &kp LCTRL   &kp LG(LS(S))      &kp KP_PLUS      &kp N4        &kp N5        &kp N6     &kp KP_MINUS
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤Num├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                  &kp LC(Z)     &kp LC(X)     &kp LC(Y)     &kp LC(C)     &kp LC(V)      &kp KP_MULTIPLY    &kp N1        &kp N2        &kp N3     &kp KP_SLASH
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 3 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                              &kp LCTRL      &kp BSPC      &kp DEL           &kp RET        &kp N0        &trans
            //                             ╰─────────────┴─────────────┴─────────────╯Num╰─────────────┴─────────────┴─────────────╯
            >;
        };

        Navigation {
            display-name = "Navigation";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮Nav╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &kp RBKT       &kp N9        &kp N8        &kp N7       &kp LBKT          &kp ESC      &kp PG_UP       &kp UP      &kp PG_DN      &kp F11
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 4 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp KP_MINUS     &kp N6        &kp N5        &kp N4     &kp KP_PLUS         &kp RET      &kp LEFT      &kp DOWN      &kp RIGHT     &kp LCTRL
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤Nav├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp KP_SLASH     &kp N3        &kp N2        &kp N1   &kp KP_MULTIPLY       &kp TAB    &kp C_VOL_DN  &kp C_VOL_UP  &kp LA(LC(DOT)) &kp LCTRL
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 4 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                              &kp LSHFT    &kp LC(BSPC)   &kp LCTRL          &kp RET      &kp SPACE       &trans
            //                             ╰─────────────┴─────────────┴─────────────╯Nav╰─────────────┴─────────────┴─────────────╯
            >;
        };

        FNN {
            display-name = "FN_5";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮F12╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                    &trans        &trans        &trans        &trans        &trans           &kp F10        &kp F7        &kp F8        &kp F9        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 5 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                   &kp LWIN     &kp LALT      &kp LSHFT     &kp LCTRL     &kp PSCRN          &kp F11        &kp F4        &kp F5        &kp F6        &trans
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤F12├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                    &trans        &trans        &trans        &trans        &trans           &kp F12        &kp F1        &kp F2        &kp F3        &trans
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 5 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                                &trans        &trans        &trans            &trans        &trans        &trans
            //                             ╰─────────────┴─────────────┴─────────────╯F12╰─────────────┴─────────────┴─────────────╯
            >;
        };

        PPN {
            display-name = "Dot_6";
            bindings = <
            // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮PPN╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                   &kp RBKT       &kp N9        &kp N8        &kp N7       &kp LBKT         &kp LS(N1)    &kp LS(N2)    &kp LS(N3)    &kp LS(N9)    &kp LS(N0)
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ 6 ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp KP_MINUS     &kp N6        &kp N5        &kp N4     &kp KP_PLUS        &kp GRAVE      &kp RBKT      &kp LBKT    &kp LS(N7) &kp LA(LC(MINUS))
            // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤PPN├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                 &kp KP_SLASH     &kp N3        &kp N2        &kp N1   &kp KP_MULTIPLY    &kp LS(GRAVE)  &kp LS(RBKT)  &kp LS(LBKT) &kp LA(LC(DOT)) &kp KP_SLASH
            // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤ 6 ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                               &kp BSPC       &kp N0      &kp SPACE           &trans        &trans        &trans
            //                             ╰─────────────┴─────────────┴─────────────╯PPN╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
